NEXT_PUBLIC_SUPABASE_URL=https://ifxdmmdfqjcootxugztf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmeGRtbWRmcWpjb290eHVnenRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkyOTYxMjQsImV4cCI6MjA2NDg3MjEyNH0.-hwoLyGGJ-ZsGd4EKr0z-938zfwtASqM1-5Qdgd7mLQ